@charset "utf-8";

.hyper-link {
    width: 100%;
    margin:0 auto;
    font-family: 'arial';
}

.margin{
    margin-bottom: 50px;
}

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}
#headline {
    font-size: 32px;
    color:darkred;
    /* color: linear-gradient(to right, yellow, green); */
}

/* アニメーションの定義 */

@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}

.anim-box.poyopoyo {
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

/* ++++++++++++++++++++++ */

.caption{
    text-align: center;
    font-size: 30px;
    font-family: 'arial';
    font-weight: bold;
} 

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    font-family: 'arial';
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

/* +++++++++++++++++++++++++ */

.introduction_list {
    display: flex;
    padding: 10px 0;
    margin: 0 auto;
}

.introduction_item {
    text-align: left;
    font-family: 'Yu Gothic';
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    /* list-style: none;
    display: inline-block;
    margin: 0 20px; */
}

.display_sns{
    display:flex;
    width: 60%;
    margin: 0 auto;

    animation-name: fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;

}

.display_sns_item{
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
}

.sns-caption{
    text-align: center;
    font-family: 'arial black';
    /* color:darkred; */
}


.display-plofile{
    width: 60%;
    margin: 0 auto;

    animation-name: fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;
}

.timeline {
    list-style: none;
}

.timeline > li{
    overflow: hidden;
    margin: 0;
    position: relative;
}

.timeline-date{
    width: 25%;
    float: left;
    /* border-right: 3px darkred solid; */
    /* padding-right: 5%; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin-top: 20px; */
}
.timeline-content {
    width: 65%;
    float: left;
    border-left: 3px darkred solid;
    padding-left: 5%;

    margin-top: 0px;
    margin-bottom: 0px;
}
/* .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: darkred;
    position: absolute;
    left: 29%;
    top: 24px;
    border-radius: 100%;
} */

.conference-list {
    background: #f3fbff;
    /* align: center; */
    width: 60%;
    margin: 0 auto;

    animation-name: fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity: 0;
}

.research-topics {
    width: 60%;
    margin: 0 auto;

    text-align: left;
    font-family: 'Yu Gothic';
    font-weight: bold;
    font-size: 16px;

}